# Chp 4: Lists : Allow us to work with sequential data or List of Values

## Lists

Create empty lists

In [83]:
empty_list = []
#OR
empty_list = list()
print(empty_list)

[]

In [23]:
courses = ['History','Math','Physics','CompSci']

In [4]:
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [5]:
print(len(courses))

4

In [6]:
print(courses[0])

History

In [7]:
print(courses[3])

CompSci

Convenient to use -1 (below) as an index in list as we dont have to worry as what is the length of the list. It can also end up in trying to access and index that is out of range.

In [8]:
print(courses[-1])

CompSci

Accessing multiple values : Note the last value is not included.

In [10]:
print(courses[0:2])
print(courses[:2])

['History', 'Math']
['History', 'Math']

If we want to access all list objects from a particular member till end

In [11]:
print(courses[2:])

['Physics', 'CompSci']

### List methods

Add an item to end of the list

In [24]:
courses = ['History','Math','Physics','CompSci']
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

To insert an item at any position in the list just pass the index no first and then the item

In [25]:
courses = ['History','Math','Physics','CompSci']
courses.insert(0,'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

Insert only adds 1 element to the position. If multiple items as a list are added to the insert, it adds a list to the beginning. The second print adds art and education values from the list inserted as the first element.

In [28]:
courses = ['History','Math','Physics','CompSci']
courses_2 = ['Art',['Education']]
courses.insert(0,courses_2)
print(courses)
print(courses[0])

[['Art', ['Education']], 'History', 'Math', 'Physics', 'CompSci']
['Art', ['Education']]

Instead we use a method called extend. Note append only adds list to below

In [31]:
courses = ['History','Math','Physics','CompSci']
courses_2 = ['Art','Education']
courses.extend(courses_2)
print(courses)
print(courses[0])


courses = ['History','Math','Physics','CompSci']
courses_2 = ['Art','Education']
courses.append(courses_2) 
print(courses)
print(courses[0])

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']
History
['History', 'Math', 'Physics', 'CompSci', ['Art', 'Education']]
History

remove method removes objects from the list

In [34]:
courses = ['History','Math','Physics','CompSci']
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci']

pop method removes last value of the list. It helps if we use the list as a stack or a cube. pop returns the value removed from the list and can be stored in a variable.

In [37]:
courses = ['History','Math','Physics','CompSci']
popped = courses.pop()
print(courses)
print(popped)

['History', 'Math', 'Physics']
CompSci

reverse method reverses the order of the values stored in the list.

In [39]:
courses = ['History','Math','Physics','CompSci']
popped = courses.reverse()
print(courses)

['CompSci', 'Physics', 'Math', 'History']

Sort method sorts the list. This method alters the list in place.

In [41]:
courses = ['History','Math','Physics','CompSci']
popped = courses.sort()
print(courses)

nums = [1,5,2,3,4]
nums.sort()
print(nums)

nums1 = [1,5,2,3,4]
nums1.sort(reverse = True)
print(nums1)

['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

use sorted function to allow us to keep the original list as it is. It returns a sorted value of the list. We can store it in a variable

In [42]:
nums = [1,5,2,3,4]
sorted(nums)
print(nums)

[1, 5, 2, 3, 4]

In [43]:
nums = [1,5,2,3,4]
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

to find position of a value in list, use index function

In [45]:
courses = ['History','Math','Physics','CompSci']
print(courses.index('CompSci'))

3

 to check if a value is present in list or not use the 'in' function. Returns true or false

In [48]:
courses = ['History','Math','Physics','CompSci']
print('Art' in courses)

print('Math' in courses)

False
True

Looping through list. for loop. here print statement prints all items in new line because print statement goes to a new line every time it executes.

In [50]:
courses = ['History','Math','Physics','CompSci']
for items in courses:
    print(items)

History
Math
Physics
CompSci

We can access the index and value using the ennumerate function. if we want the index to start at a particular value, we can pass one more parameter that says start = 1 or whatever we want

In [53]:
courses = ['History','Math','Physics','CompSci']
for index, course in enumerate(courses):
    print(index, course)

0 History
1 Math
2 Physics
3 CompSci

In [54]:
courses = ['History','Math','Physics','CompSci']
for index, course in enumerate(courses, start = 1):
    print(index, course)

1 History
2 Math
3 Physics
4 CompSci

To turn the list into comma seperated values or any seperator, we can use the join function as below. We use ', '.join(courses)

In [62]:
courses = ['History','Math','Physics','CompSci']
courses_str = ', '.join(courses)
print(courses_str)

History, Math, Physics, CompSci

We can turn a string of values with split function

In [64]:
new_list = courses_str.split(', ')
print(new_list)

['History', 'Math', 'Physics', 'CompSci']

## Tuples

Tuples are similar to list except that they are immutable whereas lists are mutable. It doesnt have as many methods as list becaust lists contain mutating values. Can be used in situations where we just need to loop through and access. The Tuples are enclosed by round brackets.

Create empty tuples

In [86]:
empty_tuple = ()
empty_tuple = tuple()

TypeError: 'tuple' object is not callable

In [68]:
tuple = ('History','Math','Physics','CompSci')
courses.insert(0,'Art')
# Lack of methods

AttributeError: 'tuple' object has no attribute 'insert'

In [69]:
tuple = ('History','Math','Physics','CompSci')
tuple[0] = 'Art'
# Immutable property

TypeError: 'tuple' object does not support item assignment

## Sets

Sets are unordered values and have no duplicates. Sets dont really care about orders. Use Cases : To test whether a value is a part of a set. Sets do this far more efficiently than Lists or Tuples. It also helps remove duplicate values as below. Sets are enclosed in curly brackets.

Create Empty Sets

In [89]:
empty_set = {} # This isnt right. Its a dictionary
empty_set = set()
print(empty_set)

set()

In [75]:
sets_courses = {'History','Math','Physics','CompSci', 'Math'}
print(sets_courses)

{'Math', 'Physics', 'CompSci', 'History'}

Sets also help determine if they share or dont share values with other sets.

In [78]:
cs_courses = {'History','Math','Physics','CompSci'}
art_courses = {'History','Math','Art','Design'}

In [79]:
print(cs_courses.intersection(art_courses))

{'History', 'Math'}

In [80]:
print(cs_courses.difference(art_courses))

{'CompSci', 'Physics'}

In [81]:
print(cs_courses.union(art_courses))

{'CompSci', 'Math', 'Art', 'Design', 'Physics', 'History'}